<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">
        Employees
    </div>
    <div class="card-body table-responsive">
        <form action="#" th:action="@{/employee/list}" method="post">
        <table class="table table-striped table-bordered table-sm datatables-easy"
               th:attr="dt-page=${T(org.springframework.data.jpa.datatables.easy.util.JsonUtil).json(employeePage)}">
            <thead>
            <tr>
                <th dt-field="id" dt-type="number">#</th>
                <th dt-field="createTime" dt-type="date">Hired</th>
                <th dt-field="position" th:attr="dt-enum=${T(org.springframework.data.jpa.datatables.easy.util.JsonUtil).json(positionEnums)}">Position</th>
                <th dt-field="firstName">First Name</th>
                <th dt-field="lastName">Last Name</th>
                <th dt-field="salary" dt-type="number">Salary</th>
                <th dt-field="department.id" dt-searchable="false" dt-type="object">Department</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee,iter : ${employeeList}">
                <td th:text="${employee.getId()}">id</td>
                <td th:text="${#dates.format(employee.getCreateTime(), 'dd-MM-yyyy')}">25-12-2017</td>
                <td th:text="${employee.getPosition()}">Position</td>
                <td th:text="${employee.getFirstName()}">FirstName</td>
                <td th:text="${employee.getLastName()}">LastName</td>
                <td th:text="${#numbers.formatDecimal(employee.getSalary(), 3, 'POINT', 2, 'COMMA')}">Salary</td>
                <td th:text="${employee.getDepartment().getId()} + ' : ' + ${employee.getDepartment().getName()}">Name</td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>

</body>
</html>
